* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  object-fit: contain;
  transition: all 0.3s ease-in-out;
}

:root {
  --pink: #e30451;
  --black: #444;
  --purple: #757BE2;
  --green: #34fcd8;
  --blue: #7dc1fe;
}

body {
  background: #afa8a8;
  color: white;
  font-size: 18px;
  margin: 0;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
      'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
      'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}
